# Configurações da API
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_TIMEOUT=10000

# Configurações do ambiente
NODE_ENV=development
NEXT_PUBLIC_APP_NAME=Fullstack App
NEXT_PUBLIC_APP_VERSION=1.0.0

# Configurações de debug
NEXT_PUBLIC_DEBUG_MODE=true
NEXT_PUBLIC_LOG_LEVEL=debug
